extends layout

block content
  h1= title
    .container
        #visor.col-xs-12
            .col-xs-3.film
                .title pelicula1
            .col-xs-3.film
                .title pelicula2
            .col-xs-3.film
                .title pelicula3
            .col-xs-3.film
                .title pelicula4
