extends layout

block content
  #container
    #visor.col-xs-12
    input#msg.input-lg.col-xs-10(type='text', value='Escribe algo')
    input#send.btn.btn-info.col-xs-2(type='button', value='Enviar')
