doctype html
html
    head
        title Cinema
        link(rel='stylesheet', type='text/css', href='/css/bootstrap-theme.min.css')
        link(rel='stylesheet', type='text/css', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')

        script(type='text/javascript', src='/js/jquery-2.1.4.min.js')
        script(type='text/javascript', src='/js/bootstrap.min.js')
        script(type='text/javascript', src='/js/main.js')
        script(type='text/javascript', src='/js/socketio.js')
    body
        block content
